<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/styles.css" media="all">
        <link rel="shortcut icon" href="/images/favicon.ico">
    </head>
    <body>
        <div class="header">
            <img src="/images/document-cloud-logo.png" alt="DocumentCloud logo">
            <h2>Status: <span class="indicator">UP</span></h2>
            <div class="error">Failed to load latest data. Retrying...</div>
        </div>
        <div class="uptimes">Document Cloud is currently <span class="current"></span>, has been available for
            <span class="week"></span> percent of the time for the last week, and
            <span class="month"></span>% for the last 30 days.
        </div>
        <h3>What do these graphs mean?</h3>
        <p>They provide a window into how well DocumentCloud is currently performing and how well we've done in the past</p>
        <div class="charts">
            <div class="tooltip"></div>

            <h4>Processing Count</h4>
            <div class="chart processing"></div>

            <h4>Documents uploaded/completed over the past 24 hrs.</h4>
            <!-- <p>We've processed <span class="job_count"></span> jobs in the last 24 hours. Our current success ratio is <span class="success_ratio"></span> percent.</p> -->
            <div class="chart activity"></div>

        </div>

        <%= include_javascripts :status %>
    </body>
</html>
