@import "compass/css3";

body {
  padding: 10px;
  margin: 0px;
  .header {
    background: url(/images/background.jpg) repeat;
    height: 50px;
    margin: -10px -10px 10px -10px;
    @include box-shadow(darkGrey 0 0 10px);

    h2, img{
      margin: 10px 0 0 10px;
      display: inline;
    }

    h2 {
      color: rgba(80, 80, 80, 1);
    }
    .indicator.down {
      color: red;
    }

    .error {
      float: right;
      border-left: 1px solid darkGrey;
      border-bottom: 1px solid darkGrey;
      padding: 5px;
      font-style: italic;
      font-size: 0.85em;
      border-bottom-left-radius: 8px;
    }
  }

  .charts {

    .tooltip {
      position: absolute;
      display: none;
      border: 1px solid lightgray;
      padding: 2px;
      background: rgba(255,255,255, 0.8);
      z-index: 2;
    }

    .chart {
      min-height: 250px;
    }

    td.legendColorBox {
      width: 14px;
    }

    .legend table {
      background-color: white;
      border: 2px solid grey;
      border-radius: 4px;
      box-shadow: 3px 3px 3px 2px lightgray;
      .scale {
        label {
          margin-left: -5px;
        }
      }
    }
    
  }
}